/*Estilização 01
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th {
    height: 70px;
}

*/
/*Estilização 02
table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}*/

/*Estilização 03*/
table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: cadetblue;
}